bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Sudoku Solver/.idea/discord.xml

.idea/.idea.Sudoku Solver/.idea/indexLayout.xml

.idea/.idea.Sudoku Solver/.idea/vcs.xml

.idea/.idea.Sudoku Solver/.idea/encodings.xml

.idea/.idea.Sudoku Solver/.idea/projectSettingsUpdater.xml

.idea/.idea.Sudoku Solver/.idea/workspace.xml
